<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>商品一覧</h2>
      <div class="form_group">
      <table class="table">
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td>
              <%= attachment_image_tag item, :image ,format: 'jpeg', size: "200x200" %>
            </td>
             <td>
              <%= link_to item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td></td>
             <td>
               \<%= item.price %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>

