<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>商品一覧</h2>
      <div class="clearfix product-box">
        <% @items.each do |item| %>
        <% if item.is_active == true %>
          <div><%= attachment_image_tag item, :image ,format: 'jpeg', size: "200x200" %></div>
              <p class="product-name">
                <%= link_to item_path(item.id) do %>
                <%= item.name %>
                <% end %>
              </p>
               \<%= item.price %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>

